@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f6fdfe;
    --foreground: #004f61;
    --card: #f6fdfe;
    --card-foreground: #004f61;
    --popover: #f6fdfe;
    --popover-foreground: #004f61;
    --primary: #00bbe6;
    --primary-foreground: #004f61;
    --secondary: #ffc800;
    --secondary-foreground: #004f61;
    --tertiary: #ff9494;
    --tertiary-foreground: #004f61;
    --muted: #f6fdfe;
    --muted-foreground: #004f61;
    --accent: #f6fdfe;
    --accent-foreground: #004f61;
    --destructive: #ef4444;
    --destructive-foreground: #004f61;
    --border: #004f61;
    --input: #004f61;
    --ring: #004f61;
    --radius: 0.5rem;
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
  }

  .dark {
    --background: #00151a;
    --foreground: #f6fdfe;
    --card: #00151a;
    --card-foreground: #f6fdfe;
    --popover: #00151a;
    --popover-foreground: #f6fdfe;
    --primary: #00bbe6;
    --primary-foreground: #00151a;
    --secondary: #ffc800;
    --secondary-foreground: #00151a;
    --tertiary: #ff9494;
    --tertiary-foreground: #00151a;
    --muted: #00151a;
    --muted-foreground: #f6fdfe;
    --accent: #00151a;
    --accent-foreground: #f6fdfe;
    --destructive: #7f1d1d;
    --destructive-foreground: #f6fdfe;
    --border: #f6fdfe;
    --input: #f6fdfe;
    --ring: #f6fdfe;
    --radius: 0.5rem;
    --chart-1: #2662d9;
    --chart-2: #2eb88a;
    --chart-3: #e88c30;
    --chart-4: #af57db;
    --chart-5: #e23670;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.border-top {
  border-top: 1px solid;
}